  td, th {
  border: 1px solid black;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  background-color: #d0e7f9;
  color: #2c3e50;
}

.subtitle {
  font-style: italic;
  color: #555;   /* slightly darker gray */
  margin-top: 5px;
  margin-bottom: 20px;
}

h1 {
  margin-top: 30px;
  color: #2c3e50;
}

#planets {
  width: 80%;
  margin: 30px auto;   
  border-collapse: collapse;
  background-color: white;
}

#planets th {
  background-color: #2c3e50;
  color: white;
  padding: 10px;
}

#planets td {
  padding: 10px;
}

#planets td:first-child {
  font-weight: bold;
  text-align: left;
  background-color: #e6ecf2;
}

#planets th:nth-child(2),
#planets td:nth-child(2) { background-color: #ffefcc; }
#planets th:nth-child(3),
#planets td:nth-child(3) { background-color: #ffe6e6; }
#planets th:nth-child(4),
#planets td:nth-child(4) { background-color: #fff5cc; }
#planets th:nth-child(5),
#planets td:nth-child(5) { background-color: #e6f7ff; }


#planets img {
  width: 150px;
  height: auto;
}

#planets {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}